<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<header id="header">
				<div class="container">
					<a href="index.html">Kip Y Yin</a>
					<ul class="navbar-links">
						<li><a href="about.html">About</a></li>
						<li><a href="mailto: kipyyin@gmail.com">Email Me</a></li>
					</ul>
				</div>
			</header>
			<div id="content">
				<div class="container">

					{{ content }}

				</div><!-- /.container -->
			</div>
			<footer id="footer">
				<div class="container">
					<div class="column">
						<h4>Contact</h4>
						<p>
							<a href="www.linkedin.com/in/kip-yin">LinkedIn</a><br />
							<!-- <a href=""></a><br /> -->
						</p>
					</div>
					<div class="column">
						<h4>About Me</h4>
						<p>
							A programmer knows a bit about actuarial science and finance.
						</p>
					</div>
				</div>
			</footer>
		</body>
	</html>
